

<div class="container">


  <div class="content">


    <div class="right-side">

      <!-- Заголовок для формы -->
      <div class="topic-text">Отправьте нам сообщение</div>

      <!-- Форма обратной связи -->
      <form  [formGroup]="myForm" (ngSubmit)="submitForm()">


        <div class="input-box">
          <input type="text" placeholder="Ваше имя"  formControlName="name" />
        </div>
        <div class="input-box">
          <input type="text" placeholder="Введите email" formControlName="email" />
        </div>
        <div class="input-box">
          <input type="text" placeholder="Введите телефон" formControlName="phone_number" [textMask]="{mask: mask}" />
        </div>
        <div class="input-box message-box">
        <select formControlName="theme" >
          <option>Техподдержка</option>
          <option>Продажи</option>
          <option>Покупки</option>
          <option>Другое..</option>
        </select>
        </div>
        <div class="input-box message-box">
          <textarea placeholder="Сообщение" formControlName="message"></textarea>
        </div>
        <div class="captcha">
          <input type="text" formControlName="captcha" />
        </div>

        <div class="button">
          <button type="submit">Отправить письмо!</button>
        </div>
      </form>
    </div>
  </div>
</div>
