<div>
  <form [formGroup]="myForm" (ngSubmit)="submitForm()" style="display: flex;flex-direction: column;justify-items: center">
    <label>Ваше имя: <input formControlName="name" /></label>
    <label>Ваш Email: <input formControlName="email" /></label>
    <label>Ваш телефон: <input formControlName="phone_number" [textMask]="{mask: mask}" /></label>
    <label>Тема:
      <select formControlName="theme">
        <option>Техподдержка</option>
        <option>Продажи</option>
        <option>Покупки</option>
        <option>Другое..</option>
    </select>
    </label>
    <label>Ваше сообщение:<textarea formControlName="message"></textarea></label>
    <label>Цифры:<input type="text" formControlName="captcha" /></label>
    <button [disabled]="myForm.invalid" type="submit">Отправить письмо!</button>
  </form>
</div>
