




.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 800px;


  max-width: 450px;
  min-width: 400px;

  margin: 0 auto;
  margin-top: 20px;

  border: 1px solid rgb(242, 245, 230);
  box-shadow: 15px 15px 15px -15px rgba(0, 0, 0, 0.3);
  border-radius: 10px;

  padding: 20px;
  background-color: #fff;


  &__header {
    position: relative;

    width: 300px;
    padding: 0px 0px 5px 70px;
    margin-left: -41px;

    font-size: 1.5em;

    color: #ffffff;
    background-color: #a83f2a;
    text-shadow: 0px 1px 2px #bbb;
    box-shadow: 0px 2px 4px #888;
  }

  &__header:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 0;
    top: 100%;
    border-width: 5px 10px;
    border-style: solid;
    border-color: #666 #666 transparent transparent;
  }





  &__group {

    display: flex;
    input,
    select,
    textarea,
    {

      flex:4;
      border-radius: 4px;


    }
    &__message{
      height: 65px;
      min-height: 65px;
      max-height: 65px;
    }
    &__captcha{
      display: flex;
      gap:40px;
      label{
        align-self: center;
      }
      input.ng-touched.ng-valid {
        border: solid green 2px;
      }

      input.ng-touched.ng-invalid {
        border: solid red 2px;
      }
    }

    input.ng-touched.ng-valid {
      border: solid green 2px;
    }

    input.ng-touched.ng-invalid {
      border: solid red 2px;
    }

    select.ng-touched.ng-valid {
      border: solid green 2px
    }

    select.ng-touched.ng-invalid {
      border: solid red 2px
    }

    textarea.ng-touched.ng-valid {
      border: solid green 2px
    }

    textarea.ng-touched.ng-invalid {
      border: solid red 2px
    }
    label{
      flex: 1;
      display: block;
      margin-bottom: 10px;
      align-self: center;
    }
  }
  button{
    height: 100%;
    width: 200px;
    font-size: 1.0rem;
  }
  &__error{
    color:white;
    padding: 5px;
    background: red;
    margin-top: 5px;
    width: 100%;
  }
}


.name {
  padding: 20px;
  background: url("img/name.png") 4px no-repeat;
  background-size: 15px;
}

.email {
  padding: 20px;
  background: url("img/email.png") 4px no-repeat;
  background-size: 15px;
}

.phone_number {
  padding: 20px;
  background: url("img/phone.png") 4px no-repeat;
  background-size: 15px;
}





